{% macro avatar(user, size='sm', anonymous=False, animate=False) %}
{%- if anonymous -%}
  <span class="avatar avatar--{{ size }}" aria-hidden="true">?</span>
{%- elif animate and user.has_animated_avatar() -%}
  <img class="avatar avatar--{{ size }} avatar--photo" src="{{ url_for('main.avatar_anim', user_id=user.id) }}" alt="" width="96" height="96">
{%- elif user.has_avatar() -%}
  <span class="avatar avatar--{{ size }}" style="background-image:url('{{ url_for('main.avatar', user_id=user.id) }}')"></span>
{%- elif user.avatar_url -%}
  <span class="avatar avatar--{{ size }}" style="background-image:url('{{ user.avatar_url }}')"></span>
{%- else -%}
  <span class="avatar avatar--{{ size }}">{{ user.initials() }}</span>
{%- endif -%}
{% endmacro %}

{# Community identity: @username (linked). Display name is for My space only. #}
{% macro author_name(user, anonymous=False, from_post=None) %}
{%- if anonymous -%}Anonymous
{%- elif user.username and from_post -%}
<a class="author-link at-handle" href="{{ url_for('main.profile', user_id=user.id, **{'from': from_post}) }}">@{{ user.username }}</a>
{%- elif user.username -%}
<a class="author-link at-handle" href="{{ url_for('main.profile', user_id=user.id) }}">@{{ user.username }}</a>
{%- elif from_post -%}
<a class="author-link" href="{{ url_for('main.profile', user_id=user.id, **{'from': from_post}) }}">{{ user.public_name() }}</a>
{%- else -%}
<a class="author-link" href="{{ url_for('main.profile', user_id=user.id) }}">{{ user.public_name() }}</a>
{%- endif -%}
{% endmacro %}
